---
import BaseHead from '../components/BaseHead.astro';
import Button from '../components/button.astro'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
			<main>
				<h1>Projects</h1>
				<Button href="https://music.sillyangel.me" image="/musicss.png" backgroundcolor="#222222">Music Player</Button>
				<Button href="https://bfgs.sillyangel.me" image="/bfgss.png" backgroundcolor="#000000">Bigfoot (Login Required)</Button>
				<Button href="https://cybriagames.pages.dev/" image="/ss3.png" backgroundcolor="#333">Cybria Games</Button> 
				<Button href="https://music.sillyangel.me/sm64/kdpicsentquaker.htm" image="/sm64.png" backgroundcolor='#000000'>Super Mario 64</Button> 
				<Button href="https://sillyangel.me/#" image="https://abc-utc.fiu.edu/wp-content/uploads/2018/06/Under-Construction-Sign-for-Locator.png" backgroundcolor="#ffffff">Notes App</Button>
				<Button href="https://sillyangel.me/#" image="https://abc-utc.fiu.edu/wp-content/uploads/2018/06/Under-Construction-Sign-for-Locator.png" backgroundcolor='#ffffff'>Calculator</Button>
				<Button href="https://sillyangel.me/#" image="https://abc-utc.fiu.edu/wp-content/uploads/2018/06/Under-Construction-Sign-for-Locator.png" backgroundcolor="#222222">Custom Button</Button>
			</main>
		</main>
		<Footer />
	</body>
</html>
