---
import BaseHead from '../components/BaseHead.astro';
import Button from '../components/button.astro'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
			<main>
				<h1>Projects</h1>
				<Button href="https://music.sillyangel.me" backgroundcolor="#222222">Playmusic</Button>
				<Button href="https://ttt.sillyangel.me/" backgroundcolor="#efefef">Tic Tac Toe (Saves Progress, React)</Button>
				<Button href="https://spfy.sillyangel.me/" backgroundcolor='#efefef'>Spotify Artist Album Search (React)</Button>
				<Button href="https://buildstatus.sillyangel.me/" backgroundcolor='#efefef'>Build Status Application (Native React)</Button>
				<Button href="https://bfgs.sillyangel.me" backgroundcolor="#000000">Bigfoot (Login Required)</Button>
				<Button href="https://cybriagames.pages.dev/" backgroundcolor="#333">Cybria Games</Button> 
				<Button href="https://music.sillyangel.me/sm64/kdpicsentquaker.htm" backgroundcolor='#000000'>Super Mario 64</Button> 
			</main>
		<Footer />
	</body>
</html>
